version: '3.8'
services:
  mysql:
    container_name: mysql-service
    build:
      context: ./mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "mysql -uroot -ppassword -e 'select * from mysql.user' || exit 1" ]
      interval: 10s
      timeout: 25s
      retries: 5
  fusionauth:
    container_name: fusionauth-service
    build:
      context: ./fusionauth
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DATABASE_URL: jdbc:mysql://${DB_HOST}:${DB_PORT}/fusionauth?user=${DB_USERNAME}&password=${DB_PASSWORD}&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      DATABASE_ROOT_USERNAME: ${DB_USERNAME}
      DATABASE_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - 9011:9011
    # volumes:
    #   - fusionauth_config:/usr/local/fusionauth/config
    restart: unless-stopped
  
  auth:
    container_name: auth-service
    build:
      context: ./auth
      target: dev
    ports:
      - "4002:4002"
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./auth:/app
    restart: unless-stopped

  account:
    container_name: account-service
    build:
      context: ./account
      target: dev
    ports:
      - "4001:4001"
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./account:/app
    restart: unless-stopped
  
  shopping:
    container_name: shopping-service
    build:
      context: ./shopping
      target: dev
    ports:
      - "4003:4003"
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./shopping/src:/app/src
    restart: unless-stopped

  frontend:
    container_name: frontend-service
    build:
      context: ./frontend
      target: dev
    ports:
      - "5000:5000"
    volumes:
      - ./frontend/src:/app/src
    restart: unless-stopped
  ingress-nginx:
    container_name: ingress-nginx-service
    build:
      context: ./ingress-nginx
    ports:
      - 80:80
    depends_on:
      - mysql
      - account
      - frontend
      - auth
      - shopping
    restart: unless-stopped

volumes:
  mysql-data: